// -----------------------------------------------------------------------------
// This file contains all @font-face declarations, if any.
// -----------------------------------------------------------------------------


/* FONTS */

@supports (font-variation-settings: "wdth" 200) {
    @font-face {
        font-family: "Muly";
        src: url("/assets/fonts/Muli-VariableFont_wght.ttf");
        font-weight: normal;
        font-style: normal;
    }

    #font-amstelvar {
        font-family: Muly;
        font-variation-settings: "wdth" 400, "wght" 98;
    }
}